In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"animes.csv")

In [3]:
df.shape

(19311, 12)

In [4]:
df.head()

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,img_url,link
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...","Oct 4, 2015 to Mar 27, 2016",25.0,489888,141,25.0,8.82,https://cdn.myanimelist.net/images/anime/9/766...,https://myanimelist.net/anime/28891/Haikyuu_Se...
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"['Drama', 'Music', 'Romance', 'School', 'Shoun...","Oct 10, 2014 to Mar 20, 2015",22.0,995473,28,24.0,8.83,https://cdn.myanimelist.net/images/anime/3/671...,https://myanimelist.net/anime/23273/Shigatsu_w...
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...","Jul 7, 2017 to Sep 29, 2017",13.0,581663,98,23.0,8.83,https://cdn.myanimelist.net/images/anime/6/867...,https://myanimelist.net/anime/34599/Made_in_Abyss
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...","['Action', 'Military', 'Adventure', 'Comedy', ...","Apr 5, 2009 to Jul 4, 2010",64.0,1615084,4,1.0,9.23,https://cdn.myanimelist.net/images/anime/1223/...,https://myanimelist.net/anime/5114/Fullmetal_A...
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,"['Action', 'Mystery', 'Supernatural', 'Vampire']","Jan 6, 2017",1.0,214621,502,22.0,8.83,https://cdn.myanimelist.net/images/anime/3/815...,https://myanimelist.net/anime/31758/Kizumonoga...

In [5]:
df=df.drop(['members', 'aired','img_url','episodes','popularity','ranked','link'], axis ='columns')

In [6]:
df.isnull().sum()

uid           0
title         0
synopsis    975
genre         0
score       579
dtype: int64

In [7]:
df=df.dropna()

In [8]:
df=df.drop_duplicates(keep='first')

In [9]:
df.shape

(15194, 5)

In [10]:
df['genre']=df['genre'].apply(eval).apply(' '.join)

In [11]:
df.head(3)

,uid,title,synopsis,genre,score
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,Comedy Sports Drama School Shounen,8.82
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,Drama Music Romance School Shounen,8.83
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,Sci-Fi Adventure Mystery Drama Fantasy,8.83

In [12]:
df.head()

,uid,title,synopsis,genre,score
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,Comedy Sports Drama School Shounen,8.82
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,Drama Music Romance School Shounen,8.83
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,Sci-Fi Adventure Mystery Drama Fantasy,8.83
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...",Action Military Adventure Comedy Drama Magic F...,9.23
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,Action Mystery Supernatural Vampire,8.83

In [13]:
df['tags']= df['synopsis']  + df['genre'] +df['title']

In [14]:
df['tags']=df['tags'].apply(lambda x:x.replace("\r\n \r\n",""))
df['tags']=df['tags'].apply(lambda x:x.replace(" \r\n  \r\n",""))
df['tags']=df['tags'].apply(lambda x:x.replace(" [written by mal rewrite]"," "))
df['tags']=df['tags'].apply(lambda x:x.replace("[Written by MAL Rewrite]"," "))

In [15]:
df['tags'][7]

"Ever since the death of his father, the burden of supporting the family has fallen upon Tanjirou Kamado's shoulders. Though living impoverished on a remote mountain, the Kamado family are able to enjoy a relatively peaceful and happy life. One day, Tanjirou decides to go down to the local village to make a little money selling charcoal. On his way back, night falls, forcing Tanjirou to take shelter in the house of a strange man, who warns him of the existence of flesh-eating demons that lurk in the woods at night. When he finally arrives back home the next day, he is met with a horrifying sight—his whole family has been slaughtered. Worse still, the sole survivor is his sister Nezuko, who has been turned into a bloodthirsty demon. Consumed by rage and hatred, Tanjirou swears to avenge his family and stay by his only remaining sibling. Alongside the mysterious group calling themselves the Demon Slayer Corps, Tanjirou will do whatever it takes to slay the demons and protect the remnants of his beloved sister's humanity.  Action Demons Historical Shounen SupernaturalKimetsu no Yaiba"

In [16]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
        
    return " ".join(y)

In [29]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.stem.porter import PorterStemmer

cv=CountVectorizer(max_features=500,stop_words='english')
ps=PorterStemmer()

In [30]:
df['tags']=df['tags'].apply(stem)

In [31]:
vectors=cv.fit_transform(df['tags']).toarray()

In [32]:
vectors.shape

(15194, 500)

In [33]:
from sklearn.metrics.pairwise import cosine_similarity

In [34]:
similarity_s=cosine_similarity(vectors)

In [35]:
similarity_s[0]

array([1.        , 0.07794838, 0.09217711, ..., 0.11729852, 0.05897063,
       0.13922252])

In [36]:
def recommended(anime_name):
    anime_index=df[df['title']==anime_name].index[0]
    distances=similarity[anime_index]
    anime_recommended=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[0:10]
    
    for i in anime_recommended:
        print(df.iloc[i[0]].title)

In [37]:
recommended("Dragon Ball")

Saiunkoku Monogatari 2nd Season
Saiunkoku Monogatari Recaps
Wangu Xian Qiong 2nd Season
Time Bokan: Gyakushuu no San Akunin
Pokemon: Pikachu Tankentai
Hoozuki no Reitetsu 2nd Season
Muumindani no Suisei
Geobreeders 2: Mouryou Yuugekitai File-XX Ransen Toppa
Huyao Xiao Hongniang: Zhu Ye
Tamagotchi! Tamatomo Daishuu GO

import pickle

df['title'].values

pickle.dump(similarity,open('similarity2.pkl','wb'))

import gzip
import pickle
with gzip.GzipFile('similarity1.pkl', 'w') as f:
    pickle.dump('similaritys.pkl', f)

In [38]:
import bz2
import pickle

In [39]:
def compressed_pickle(title, data):
    with bz2.BZ2File(title+ '.pbz2','w') as f:   # + ‘.pbz2’,
        pickle.dump(data, f)

In [40]:
compressed_pickle('x_similarity', similarity_s)